
/* ---------login and register both css-------- */

.login-title{
    font-family: 'Bungee', cursive;
    text-align: center;
    color: orange;
}
.from-input{
    width: 100%;
    text-align: center;
}
.from-input input{
    height: 2.5em;
    width: 80%;
    margin: 10px;
    padding: 0 10px;
     
}
.from-input Button{
    width: 80%;
} 

/* -----Add product--- component */
